<!DOCTYPE html>
<html>
<head>
	<title>admin</title>
</head>
<body>
	<center>
		<h2>Admin</h2>
        <table border="2">
        <tr>
            <th>college name</th>
        	<th>admin name</th>
        	<th>E mail</th>
        	<th>gender</th>
            <th>photo</th>
            <th>user name</th>
            <th>password</th>
            <th>number</th>
        </tr>
        {% for i in rr %}
        <tr>
            <td>{{ i.admin_college }}</td>
        	<td>{{ i.admin_id }}</td>
        	<td>{{ i.admin_email }}</td>
        <td>{{ i.admin_gender }}</td>
        <td>{{ i.admin_photo }}</td>
        <td>{{ i.admin_username }}</td>
        <td>{{ i.admin_password }}</td>
        <td>{{ i.number }}</td>

        </tr>
        {% endfor %}
        </table>
	</center>

</body>
</html>